# ==== Build output ====
bin/
obj/

# ==== Visual Studio workspace ====
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ==== Rider workspace ====
.idea/

# ==== VS Code workspace ====
.vscode/

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== NuGet ====
# ignore packages directory if you restore on build
**/[Pp]ackages/*
# except build/, which is used by project.json
!**/[Pp]ackages/build/

# ==== Secrets & user‑specific settings ====
appsettings.Development.json
secrets.json
firebase-service-account.json

# ==== Logs ====
*.log
logs/

# ==== Test results ====
TestResults/
*.trx

# ==== Other tooling/cache ====
*.vsidx
/TeacherExample
HomeAssignment/Lee_Xerri_63A_DP_Home/LocationService/appsettings.json
HomeAssignment/Lee_Xerri_63A_DP_Home/BookingService/appsettings.json
HomeAssignment/Lee_Xerri_63A_DP_Home/CustomerService/appsettings.json
HomeAssignment/Lee_Xerri_63A_DP_Home/PaymentService/appsettings.json
HomeAssignment/Lee_Xerri_PFC_Home/pftchome-457811-46628d2c5b77.json
